<meta charset="UTF-8">

{% if page.layout == 'home' %}
  {% assign title = site.title %}
{% else %}
  {% assign title = page.title | append: " | " | append: site.title %}
{% endif %}
<title>{{ title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

{% seo %}
